/* CSS for Add Employee form */
body {
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
}

h1 {
    text-align: left;
    margin-top: 20px;
}

form {
    width: 80%;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    display: block;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
    outline: none;
    border-color: #4CAF50;
}

@media screen and (max-width: 768px) {
    form {
        padding: 20px;
    }
}

form {

    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

label {
    margin: 10px 0;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    margin: 10px 0;
}

input[type="submit"] {
    margin: 35px;
    margin-bottom: 5px;
}

input[type="cancel"] {

    display: block;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    margin: 35px;
    margin-bottom: 5px;
}