button.btn {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 25px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
    0px 0px 12px #ffffff;
    width: 360px;
   height: 400px;
}

button.btn:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}
button.btn:hover{
    color: white;
    background: linear-gradient(32deg,#00AD7C,#52D681,#B5FF7D,#FFF8B5);
    font-size: 30px;

}
.header{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #00AD7C;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    width: 94%;
    height:15%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.button-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    width: 685px;
    height: 100px;

}
.footer3{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #00AD7C;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    width: 685px;
    height: 100px;

}

.footer1{

    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.headerName{
    font-size: 25px;
    text-align: center;
    color: white;
}
heder2{
    width: 350px;
    height: 100px;
}
td{
    padding: 8px;
}
.userName{
    font-size: 28px;
    color:#B5FF7D;

}
#date{
    text-align: center;
    font-size: 35px;
    color: #00AD7C;
}

.imagelogo{
    display: flex;
    justify-content: right;
    align-items: center;
}

.navigationbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    float: left;
    vertical-align:top;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333
}
li.name2 {
    float: left;
    text-align:center;
    display: block;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    top: -10px;
}
li.list1{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.btn1 {
    background-color: #52D681;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #52D681;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;


}

.btn1 span:last-child {
    display: none;
}

.btn1:hover {
    transition: .4s;
    border: 2px dashed #52D681;
    background-color: #fff;
    color: #52D681;
}

.btn1:active {
    background-color: #52D681;
}
